# Models
models/
*.joblib
*.pkl
*.h5
*.pt

# Data
data/raw/
mmp9.csv

data/processed/
mmp9_clean.csv
mmp9_processed.csv

# Notebooks
.ipynb_checkpoints/
**/notebook_trial*

# Python
__pycache__/
*.pyc
.env

# Experimental work
experiments/